# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/themes/*/node_modules/
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
/wp-config.default.php
/wp-config.env.php
/wp-config.local.php
/wp-config.production.php
/wp-config.php
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
